.programs {
  margin-top: 30px;
  padding: 20px 40px;
  overflow: hidden;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.wrapper {
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  background: var(--color-gray-500);
  border: 2px solid transparent;
  text-align: center;
  padding: 3rem 2rem;
  border-radius: 0 3rem 0 3rem;
  transition: var(--transition);
  width: 250px;
  height: 320px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card:hover {
  background: transparent;
  border-color: var(--color-gray-400);
}

.cardIcon {
  width: 3rem;
  height: 3rem;
  background: var(--color-primary);
  color: var(--color-gray-100);
  font-size: 1.5rem;
  padding: 0.8rem;
  display: grid;
  place-items: center;
  margin-bottom: 1.5rem;
  margin-inline: auto;
  border-radius: 1rem;
  transition: var(--transition);
}

.card:hover .cardIcon {
  background: var(--color-secoundary);
  color: var(--color-gray-600);
}

.cardInfo {
  display: block;
  font-weight: 300;
  flex-grow: 1;
}

.btn {
  color: var(--color-gray-100);
  flex-basis: 40px;
  flex-shrink: 0;
  background: var(--color-primary);
  border-radius: 1.5rem;
  transition: var(--transition);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.9rem;
}

.btn:hover {
  background: var(--color-secoundry);
  color: var(--color-gray-600);
}
